.bg-color{
    background-color: #344e41;
}

.main-section {
    height: 500px;
    text-align: center;

}  

.title-pcl{
    color: black;
    margin: 0 0 20px 20px;

}

#chat-log {
    width: 80%;
    height: 100%;
    background-color: #344e41;
    padding: 5vh;
    margin: 500px auto;
    border-radius: 5px;
    text-align: center;

}

.message--sent {
    text-align: left;
    color: black;
}

.message--sent::before {
    content: "Usuário";
    font-size: 12px;
    color: black;
}

.message--received {
    text-align: left;
    margin: 20px 0 20px 0;
    color: black;
}

.message--received::before {
    content: "Assistente";
    font-size: 12px;
    color: black;
}

.container_sd{
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 20px;
    color: black;
}

form{
    display: flex;
 }

 .ytd{
    margin-left: 15px;
 }